/* Field Mapping Page Styles */
.cmod-page .mapping-input {
   width: 250px;
   padding: 3px 6px;
   border: 1px solid #ccc;
   border-radius: 3px;
}

.cmod-page .mapping-select {
   width: 270px;
   padding: 4px 6px;
   border: 1px solid #ccc;
   border-radius: 3px;
   background: #fff;
}
